In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from betting import feature_engineering as fe

from pathlib import Path

# Concat files
> Concat the files from football-data-uk and add basic features.

In [3]:
base_path = Path('../../data/football_data_uk')
csv_paths = list(base_path.glob('*/*.csv', ))
len(csv_paths)

275

In [4]:
valid = []
for csv_path in csv_paths:
    try:
        df = fe.read_football_csv(csv_path)
        df = fe.add_gamedays(df)
        valid.append(df)
    except Exception as e:
        print(csv_path.name, e)

B1_0203.csv Error tokenizing data. C error: Expected 27 fields in line 113, saw 28

B1_0405.csv Error tokenizing data. C error: Expected 44 fields in line 49, saw 76

B1_0910.csv
B1_1920.csv Number of games 232 does not match number of teams (16, 240
B1_9596.csv Number of games 552 does not match number of teams (19, 342
B1_9697.csv Number of games 552 does not match number of teams (19, 342
B1_9899.csv Number of games 552 does not match number of teams (19, 342
B1_9900.csv Number of games 552 does not match number of teams (19, 342
E0_0304.csv Error tokenizing data. C error: Expected 57 fields in line 305, saw 72

E0_0405.csv Error tokenizing data. C error: Expected 57 fields in line 337, saw 62

E0_1415.csv Number of games 381 does not match number of teams (21, 420
E0_9596.csv Number of games 552 does not match number of teams (21, 420
E0_9697.csv Number of games 552 does not match number of teams (21, 420
E0_9900.csv Number of games 552 does not match number of teams (21, 420
F1_0203.csv Error tokenizing data. C error: Expected 30 fields in line 129, saw 32

F1_0304.csv Error tokenizing data. C error: Expected 41 fields in line 17, saw 50

F1_1314.csv Number of games 381 does not match number of teams (21, 420
F1_1516.csv Number of games 381 does not match number of teams (21, 420
F1_1920.csv Number of games 279 does not match number of teams (20, 380
F1_9596.csv Number of games 552 does not match number of teams (21, 420
F1_9697.csv Number of games 552 does not match number of teams (21, 420
F1_9899.csv Number of games 552 does not match number of teams (19, 342
F1_9900.csv Number of games 552 does not match number of teams (19, 342
D1_0203.csv Error tokenizing data. C error: Expected 35 fields in line 177, saw 36

D1_0304.csv Error tokenizing data. C error: Expected 59 fields in line 17, saw 65

D1_9596.csv Number of games 552 does not match number of teams (19, 342
D1_9697.csv Number of games 552 does not match number of teams (19, 342
D1_9900.csv Number of games 552 does not match number of teams (19, 342
G1_0001.csv 'HomeTeam'
G1_0102.csv 'HomeTeam'
G1_0203.csv 'HomeTeam'
G1_0304.csv 'HomeTeam'
G1_0405.csv Error tokenizing data. C error: Expected 47 fields in line 49, saw 48

G1_1213.csv Number of games 241 does not match number of teams (17, 272
G1_1314.csv Number of games 314 does not match number of teams (19, 342
G1_1415.csv Number of games 352 does not match number of teams (19, 342
G1_1516.csv Number of games 252 does not match number of teams (17, 272
G1_1920.csv Number of games 240 does not match number of teams (14, 182
G1_9596.csv Number of games 552 does not match number of teams (19, 342
G1_9697.csv Number of games 552 does not match number of teams (19, 342
G1_9798.csv Number of games 552 does not match number of teams (19, 342
G1_9899.csv Number of games 552 does not match number of teams (19, 342
G1_9900.csv Number of games 552 does not match number of teams (19, 342
I1_0203.csv Number of games 315 does not match number of teams (19, 342
I1_0304.csv Error tokenizing data. C error: Expected 45 fields in line 49, saw 46

I1_0405.csv Error tokenizing data. C error: Expected 49 fields in line 177, saw 51

I1_1213.csv Number of games 383 does not match number of teams (21, 420
I1_1415.csv Number of games 381 does not match number of teams (21, 420
I1_1516.csv Number of games 381 does not match number of teams (21, 420
I1_9596.csv Number of games 552 does not match number of teams (19, 342
I1_9697.csv Number of games 552 does not match number of teams (19, 342
I1_9900.csv Number of games 552 does not match number of teams (19, 342
N1_0203.csv Error tokenizing data. C error: Expected 27 fields in line 97, saw 29

N1_0405.csv Error tokenizing data. C error: Expected 47 fields in line 65, saw 49

N1_0708.csv Error tokenizing data. C error: Expected 58 fields in line 145, saw 61

N1_1011.csv home/away team list is different:{'Ajax ', 'Graafschap ', 'Willem II ', 'Feyenoord ', 'Heracles ', 'Vitesse ', 'Utrecht ', 'Groningen ', 'Roda '}
N1_1213.csv Number of games 309 does not match number of teams (19, 342
N1_1920.csv Number of games 232 does not match number of teams (18, 306
N1_9596.csv Number of games 552 does not match number of teams (19, 342
N1_9697.csv Number of games 552 does not match number of teams (19, 342
N1_9899.csv Number of games 552 does not match number of teams (19, 342
N1_9900.csv Number of games 552 does not match number of teams (19, 342
P1_0203.csv Error tokenizing data. C error: Expected 27 fields in line 97, saw 29

P1_0304.csv Error tokenizing data. C error: Expected 47 fields in line 177, saw 50

P1_0708.csv Error tokenizing data. C error: Expected 58 fields in line 113, saw 61

P1_1112.csv home/away team list is different:{'Feirense '}
P1_1213.csv Number of games 241 does not match number of teams (17, 272
P1_1415.csv Number of games 307 does not match number of teams (19, 342
P1_1516.csv Number of games 307 does not match number of teams (19, 342
P1_9596.csv Number of games 552 does not match number of teams (19, 342
P1_9697.csv Number of games 552 does not match number of teams (19, 342
P1_9899.csv Number of games 552 does not match number of teams (19, 342
P1_9900.csv Number of games 552 does not match number of teams (19, 342
E0_0304.csv Error tokenizing data. C error: Expected 57 fields in line 305, saw 72

E0_0405.csv Error tokenizing data. C error: Expected 57 fields in line 337, saw 62

E0_1415.csv Number of games 381 does not match number of teams (21, 420
E0_9596.csv Number of games 552 does not match number of teams (21, 420
E0_9697.csv Number of games 552 does not match number of teams (21, 420
E0_9900.csv Number of games 552 does not match number of teams (21, 420
SP1_0405.csv Error tokenizing data. C error: Expected 49 fields in line 97, saw 50

SP1_9596.csv Number of games 552 does not match number of teams (23, 506
SP1_9697.csv Number of games 552 does not match number of teams (23, 506
SP1_9900.csv Number of games 552 does not match number of teams (21, 420
T1_0203.csv Error tokenizing data. C error: Expected 30 fields in line 17, saw 32

T1_0607.csv Error tokenizing data. C error: Expected 55 fields in line 209, saw 63

T1_0910.csv
T1_1213.csv Number of games 307 does not match number of teams (19, 342
T1_1314.csv Number of games 308 does not match number of teams (19, 342
T1_1415.csv Number of games 307 does not match number of teams (19, 342
T1_1516.csv Number of games 311 does not match number of teams (19, 342
T1_9596.csv Number of games 552 does not match number of teams (19, 342
T1_9697.csv Number of games 552 does not match number of teams (19, 342
T1_9899.csv Number of games 552 does not match number of teams (19, 342
T1_9900.csv Number of games 552 does not match number of teams (19, 342

In [5]:
len(valid)

181

In [6]:
valid[0]

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,IWH,IWD,IWA,SBH,SBD,SBA,WHH,WHD,WHA,gameday
0,B1,2000-08-12,Beveren,Charleroi,1,2,A,1,1,D,...,2.00,3.0,2.90,2.05,3.4,2.95,2.00,3.4,2.90,0
1,B1,2000-08-12,Mechelen,Genk,0,0,D,0,0,D,...,2.10,3.0,2.80,2.30,3.4,2.55,2.40,3.3,2.40,0
2,B1,2000-08-12,Louvieroise,Lokeren,0,0,D,0,0,D,...,2.35,3.0,2.35,2.45,3.4,2.40,2.40,3.3,2.40,0
3,B1,2000-08-12,Mouscron,Germinal,3,0,H,1,0,H,...,1.80,3.0,3.50,1.85,3.4,3.50,NaN,NaN,NaN,0
4,B1,2000-08-12,Westerlo,Antwerp,2,1,H,1,0,H,...,1.75,3.1,3.60,1.60,3.5,4.50,1.61,3.6,4.20,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,B1,2001-05-20,Standard,Lokeren,1,3,A,1,1,D,...,1.75,3.3,3.30,1.70,3.6,3.60,1.60,3.5,4.40,33
299,B1,2001-05-20,Club Brugge,Genk,6,0,H,1,0,H,...,1.35,3.8,6.20,NaN,NaN,NaN,1.35,4.1,6.50,33
298,B1,2001-05-20,Aalst,Anderlecht,1,5,A,1,3,A,...,3.70,3.3,1.65,NaN,NaN,NaN,3.35,3.5,1.80,33
300,B1,2001-05-20,Germinal,Gent,1,3,A,1,1,D,...,1.80,3.1,3.40,1.85,3.5,3.20,1.80,3.4,3.45,33
305,B1,2001-05-20,Westerlo,Charleroi,0,1,A,0,0,D,...,NaN,NaN,NaN,1.57,3.6,4.33,1.50,3.7,5.00,33